@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  position: relative;
  background-color: #fbfbfb;
  overflow-x: hidden;
}
.bg-img {
  height: 100vh;
  width: 100%;
}
.title {
  position: absolute;
  top: 12rem;
  left: 65%;
  width: 100%;
  transform: translateX(-50%);
  color: #ed1b24;
  font-size: 4rem;
  font-weight: 1000;
}
.title-2 {
  position: absolute;
  top: 16.5rem;
  left: 100%;
  width: 100%;
  transform: translateX(-47%);
  color: #ed1b24;
  font-size: 3rem;
  font-weight: 800;
  font-family: "Maven Pro", sans-serif;
}
sup {
  font-weight: normal;
  font-size: 2rem;
  top: -1em;
}
.rx {
  font-size: 1rem;
  top: -3.2em;
}
.sub {
  position: absolute;
  font-family: "Roboto Condensed", sans-serif;
  top: 17rem;
  left: 18%;
  font-size: 1rem;
  font-weight: 800;
}
.syrup {
  font-weight: 600;
  font-size: 1.5rem;
}
.tagline {
  font-family: "Exo 2", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  font-style: italic;
  position: absolute;
  top: 17rem;
  left: 50%;
  transform: translateX(-50%);
}
.tag-span {
  color: #772c2b;
}
.tag-smile {
  height: 10%;
  width: 10%;
}
.medicine-and-desc {
  position: absolute;
  top: 20rem;
}
.grid-img {
  height: 80% !important;
}
.prec {
  font-size: 8px;
  position: absolute;
  top: 50rem;
  font-family: "Exo 2", sans-serif;
}
